body {
  margin: 0px;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-links-block {
  display: flex;
  flex-direction: row;
  margin-left: 53px;
}

.header-about-us {
  border-right: 1px solid white;
  color: white;
  padding: 16px 40px 17px 43px;
  margin-top: 26px;
  margin-bottom: 21px;
}

.header-product {
  border-right: 1px solid white;
  color: white;
  padding: 16px 43px 17px 43px;
  margin-top: 26px;
  margin-bottom: 21px;
}

.header-faq {
  border-right: 1px solid white;
  color: white;
  padding: 16px 29px 17px 28px;
  margin-top: 26px;
  margin-bottom: 21px;
}

.header-langswitch {
  color: #fff;
  padding: 42px 107px 38px 0px;
}

.first-frame {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #fff;
}

.first {
  width: 878px;
  margin-left: 96px;
  border-left: 1px solid white;
}

.first .title {
  font-weight: 900;
  font-size: 72px;
  color: #fff;
  line-height: 100px;
  margin: 179px 104px auto 76px;
}

.description {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #fff;
  margin: 48px 77px auto 76px;
}

.buttons {
  margin: 48px 200px 226px 76px;
  display: flex;
  justify-content: space-between;
}

.button-open-real-count {
  width: 243.68px;
  height: 71.51px;
  background: #D76E99;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}

.button-open-demo-count {
  width: 308.68px;
  height: 67.51px;
  border: 2px solid #F2F2F2;
  padding: 0;
  font-family: 'Segoe UI';
  background-color: transparent;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}



.second {
  position: relative;
  width: 839px;
  margin-right: 107px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.blur {
  margin-left: 20px;
  height: 700px;
  background: #D76E99;
  filter: blur(125px);
}

.pic {
  width: 750px;
  margin-left: -900px;
  z-index: 1;
}

.second-frame .title {
  font-family: 'Segoe UI';
  font-size: 54px;
  font-weight: 900;
  line-height: 73px;
  letter-spacing: 0em;
  color: #FFFFFF;
  text-align: center;
  margin-top: 131px;

}


.blocks {
  display: flex;
  flex-direction: row;
  margin: 110px 80px auto 80px;
}

.blocks .info {
  background-color: #00182F;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 600px;
  padding-bottom: 40px;
}

.info img {
  width: 400px;
  height: 360px;
}

.info .text {
  text-align: center;
  color: #fff;
  font-family: 'Fira Sans';
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  padding: 0 25px;
}

.info .text h3 {
  font-family: 'Segoe UI';
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
}

.third-frame {
  padding-top: 300px;
  display: flex;
  color: #FFFFFF;
}

.tablet {
  margin-left: -477px;
  margin-top: -270px;
}

.frame-with-text {
  margin-left: 120px;
}

.third-frame .frame-with-text h2 {
  font-family: 'Segoe UI';
  font-size: 54px;
  font-weight: 900;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
}

.third-frame .frame-with-text p {
  font-family: 'Fira Sans';
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.third-frame .frame-with-text .try-for-free {
  margin-top: 341px;
  font-family: 'Segoe UI';
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.third-frame .frame-with-text button {
  background: #461FD6;
  padding: 19px 49px 19px 49px;
  font-family: 'Segoe UI';
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #fff;
  width: 262px;
  margin-top: 30px;
}

.fourth-frame {
  color: #fff;
}

.fourth-frame h2 {
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 54px;
  font-weight: 900;
  line-height: 73px;
  letter-spacing: 0em;
}

.fourth-frame p {
  text-align: center;
  font-family: 'Fira Sans';
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;

}

.fourth-frame .left img {
  margin-right: -200px;
}

.fourth-frame .split {
  display: flex;
}

.fourth-frame .right .item {
  display: flex;
  flex-direction: row;
}

.fourth-frame .right .title {
  font-family: 'Segoe UI';
  font-size: 42px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  margin: 0;
  padding-bottom: 22px;
  padding-left: 34px;
}

.fourth-frame .right .item:first-child {
  margin-top: 105px;
}

.fourth-frame .right p {
  font-family: 'Fira Sans';
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  margin: 0;
  text-align: left;
  padding-bottom: 31px;
  padding-left: 34px;
}

.fourth-frame .right .item:nth-child(2) {
  padding-bottom: 54px;
}

.fourth-frame .right .item:nth-child(3) {
  margin-bottom: 100px;
}

.fourth-frame .right .again-buttons .count {
  background: #E3B170;
  color: #fff;
  font-family: 'Segoe UI';
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  width: 243px;
  height: 71px;
}

.fourth-frame .right .again-buttons .demo {
  color: #fff;
  border: 2px solid #F2F2F2;
  background-color: transparent;
  font-family: 'Segoe UI';
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  width: 308px;
  height: 67px;
  margin-left: 55px ;
}


.last-frame {
  display: flex;
  flex-direction: row;
}

.last-frame .left {
  padding-top: 200px;
  padding-left: 133px;
}

.last-frame .text {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 122px;
  color: #fff;
}

.last-frame .text span {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 160.189px;
  line-height: 216px;
}

.last-frame .svg {
  margin-left: -90px;
}

.last-frame .button-open-count {
  background: linear-gradient(90deg, #5639D5 12.28%, #D57290 54.03%, #E7C073 92.13%);
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  gap: 12px;
  text-align: center;
  color: #FFFFFF;
  width: 243px;
  height: 71px;
}

.last-frame .button-open-demo-count {
  background-color: transparent;
  border: 2px solid #F2F2F2;
  gap: 12px;
  color: #fff;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  width: 308px;
  height: 71px;
}


.footer {
  height: 84px;
  display: flex;
  flex-direction: row;
  color: #fff;
}

.footer-item {
  padding: 23px 25px 34px 25px;
}

.footer-item:first-child {
  margin-left: 95px;
}

.footer-item:last-child {
  margin: 0 79px 0 auto;
}